# OSX
#
.DS_Store
Gemfile.lock
Podfile.lock

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local

# Android/IntelliJ
#
build/
.idea
.gradle
*.iml
*.hprof
.cxx/
.jso/
.kotlin/
.bundle/
local.properties
index.android.bundle.map
*.keystore
!debug.keystore
index.android.bundle.map

# node.js
#
node_modules/
package-lock.json
npm-debug.log
yarn-error.log
hs_err_pid*.log

# BUCK
buck-out/
\.buckd/
.buckconfig

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# CocoaPods
/**/Pods/

# Credentials
app.json
google-services.json

# VSCode
.vscode/

# Python tools
__pycache__/
*.pyc

# Useless config
.gitattributes
.editorconfig
.flowconfig
.prettierrc.js

# Other
Backups
FORME
vendor/bundle/ruby/2.7.0/bin/fuzzy_match
vendor/bundle/*
