<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>911058983753-qkqv1f1lcu84euf33afkl0p2kha1pdes.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.911058983753-qkqv1f1lcu84euf33afkl0p2kha1pdes</string>
    <key>API_KEY</key>
    <string>AIzaSyAUmpG1No5cPXbq33wd8iXsBTSJd1JdXxM</string>
    <key>GCM_SENDER_ID</key>
    <string>911058983753</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>org.reactjs.native.example.GameLife</string>
    <key>PROJECT_ID</key>
    <string>gamelife-f7c3d</string>
    <key>STORAGE_BUCKET</key>
    <string>gamelife-f7c3d.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:911058983753:ios:94a736940ff60c834b1898</string>

    <!-- EXPORT -->
    <key>method</key>
    <string>app-store</string>
    <!--key>teamID</key>
    <string>54ZUH596XX</string-->
    <key>provisioningProfiles</key>
    <dict>
        <key>org.reactjs.native.example.GameLife</key>
        <string>Game Life Distributed</string>
        <key>org.reactjs.native.example.GameLife.test</key>
        <string>GameLife Test Profile</string>
    </dict>
    <key>signingCertificate</key>
    <string>Apple Distribution</string>
    <key>signingStyle</key>
    <string>manual</string>
</dict>
</plist>
